@use '../abstracts' as *;

.mainWrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 1.125rem;
	width: 100%;
	max-width: 1440px;
	height: 100%;
	left: 0;
	right: 0;

	@include mediaQuery('tablet') {
		padding: 0 3.125rem;
	}

	@include mediaQuery('desktop') {
		padding: 0 6.25rem;
	}

	&__fullHeight {
		min-height: 100vh;
	}

	&__centerContent {
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include centerText;
	}

	&__bottom {
		@include centerText;
		margin: 0 auto;
		margin-bottom: 20px;

		@include mediaQuery('desktop') {
			margin-bottom: 40px;
		}
	}
}

.testWrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;

	main {
		flex-grow: 1;
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--primary-900);
		height: 70px;
		padding: 0 1.125rem;
		@include mediaQuery('tablet') {
			padding: 0 3.125rem;
		}

		@include mediaQuery('desktop') {
			padding: 0 6.25rem;
		}

		.button__text {
			color: var(--primary-100);
			&:hover {
				filter: drop-shadow(0px 4px 4px rgba(45, 45, 47, 0.7));
			}
		}
	}
}

.appWrapper {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	main {
		flex-grow: 1;
		padding: 30px 1.125rem calc(30px + 85px) 1.125rem;
		overflow: hidden;

		@include mediaQuery('tablet') {
			padding: 40px 3.125rem calc(40px + 85px) 3.125rem;
		}

		@include mediaQuery('desktop') {
			padding: 30px 6.25rem;
		}
	}
}
