@use '../abstracts' as *;

.button {
	border-radius: 2rem;
	padding: 12px 19px;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	@include systemButtons;
	transition: all $transitionDuration ease-in-out;

	&:active {
		transform: translateY(2px);
	}

	&--socialMedia {
		width: 100vw;
		max-width: 379px;
		display: flex;
		justify-content: flex-start;
		padding-left: 45px;
		align-items: center;
		border: 3px solid var(--text-600);
		background-color: var(--neutral-400);

		svg {
			max-width: 35px;
			max-height: 35px;
			margin-right: 18px;
		}
		span {
			padding-top: 0.2rem;
		}

		&:hover {
			box-shadow: 0px 5px 8px rgba(24, 23, 31, 0.16);
		}
	}

	&--large {
		width: 100vw;
		max-width: 379px;
		background-color: var(--primary-500);
		color: var(--neutral-400);

		@include mediaQuery('desktop') {
			&:hover {
				box-shadow: 0px 4px 20px rgba(156, 100, 239, 0.66);
			}
		}

		&:active {
			box-shadow: 0px 4px 15px rgba(156, 100, 239, 0.25),
				inset 0px 4px 15px rgba(0, 0, 0, 0.16);
		}

		&:disabled {
			background-color: var(--primary-300);
			pointer-events: none;
			cursor: auto;
		}

		&.secondary {
			background-color: var(--secondary-500);
			@include mediaQuery('desktop') {
				&:hover {
					box-shadow: 0px 4px 20px rgba(86, 185, 249, 0.66);
				}
			}
			&:disabled {
				background-color: var(--secondary-300);
			}
		}
	}

	&--large-outlined {
		width: 100vw;
		max-width: 379px;
		background-color: transparent;
		border: 3px solid var(--primary-500);
		color: var(--primary-500);
		box-shadow: 0px 4px 10px rgba(156, 100, 239, 0.151);

		&:hover {
			box-shadow: 0px 4px 15px rgba(156, 100, 239, 0.5);
		}

		&-lighter {
			border-color: var(--primary-400);
			color: var(--primary-400);
		}
	}

	&--small {
		background-color: var(--primary-800);
		color: var(--primary-100);
		max-height: 50px;

		&:hover {
			box-shadow: 0px 4px 15px rgba(38, 24, 59, 0.36);
		}

		&:disabled {
			pointer-events: none;
			cursor: auto;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 2rem;
				background-color: black;
				opacity: 50%;
			}
		}
	}

	&__text {
		@include systemButtons;
		cursor: pointer;
		position: relative;
		color: var(--primary-600);
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: fit-content;
		padding: 10px 20px;
		transition: all $transitionDuration ease-in-out;

		svg {
			height: 20px;
			margin-right: 10px;
			fill: var(--primary-600);
			color: var(--primary-600);
		}

		&:hover {
			filter: drop-shadow(0px 4px 8px rgba(31, 30, 41, 0.31));
		}

		&:active {
			transform: translateY(2px);
		}

		&--secondary {
			color: var(--secondary-600);
			svg {
				fill: var(--secondary-600);
				color: var(--secondary-600);
			}
		}
	}
}

.link {
	@include systemButtons;
	color: var(--primary-700);
	max-width: 300px;

	span {
		display: inline-block;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: var(--primary-700);
		cursor: pointer;

		&:hover,
		&:active {
			color: var(--secondary-400);
		}
	}

	&--secondary {
		color: var(--secondary-700);

		a {
			color: var(--secondary-700);

			&:hover,
			&:active {
				color: var(--primary-400);
			}
		}
	}
}

.optionButton {
	@include systemButtons;
	display: flex;
	color: var(--neutral-400);
	cursor: pointer;
	transition: all $transitionDuration ease-in-out;
	border-radius: 8px;

	&:active {
		transform: translateY(2px);
	}

	&:hover {
		box-shadow: 0px 4px 15px rgba(156, 100, 239, 0.5);
	}

	&__square {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--neutral-400);
		border: 3px solid var(--primary-500);
		border-radius: 8px 0px 0px 8px;
		border-right: none;
		min-width: 50px;
		min-height: 50px;
		color: var(--primary-500);
	}

	&__text {
		display: flex;
		align-items: center;
		color: var(--neutral-400);
		border: 3px solid var(--primary-500);
		border-radius: 0px 8px 8px 0px;
		flex-grow: 1;
		padding: 0 10px;
		font-size: 1.05rem;

		@include mediaQuery('tablet') {
			font-size: 1.125rem;
		}
	}

	&--checked {
		.optionButton__square {
			background-color: var(--primary-500);
			color: var(--neutral-400);
		}
	}

	&.medium {
		.optionButton__text {
			font-weight: 500;
		}
	}

	&.black {
		.optionButton__square {
			color: var(--text-500);
			border-color: var(--text-500);
		}
		.optionButton__text {
			color: var(--text-500);
			border-color: var(--text-500);
		}
		&.optionButton--checked {
			.optionButton__square {
				background-color: var(--text-500);
				color: var(--neutral-400);
			}
		}
		&:hover {
			box-shadow: 0px 4px 15px rgba(31, 30, 41, 0.3);
		}
	}

	&.SelfKnowledge {
		.optionButton__square {
			color: var(--IE-self-knowledge-500);
			border-color: var(--IE-self-knowledge-500);
		}
		.optionButton__text {
			color: var(--IE-self-knowledge-500);
			border-color: var(--IE-self-knowledge-500);
		}
		&.optionButton--checked {
			.optionButton__square {
				background-color: var(--IE-self-knowledge-500);
				color: var(--neutral-400);
			}
		}
		&:hover {
			box-shadow: 0px 4px 13px rgba(31, 86, 249, 0.2);
		}
	}

	&.SelfRegulation {
		.optionButton__square {
			color: var(--IE-self-regulation-500);
			border-color: var(--IE-self-regulation-500);
		}
		.optionButton__text {
			color: var(--IE-self-regulation-500);
			border-color: var(--IE-self-regulation-500);
		}
		&.optionButton--checked {
			.optionButton__square {
				background-color: var(--IE-self-regulation-500);
				color: var(--neutral-400);
			}
		}
		&:hover {
			box-shadow: 0px 4px 13px rgba(255, 121, 0, 0.2);
		}
	}

	&.SelfEfficacy {
		.optionButton__square {
			color: var(--IE-self-efficacy-500);
			border-color: var(--IE-self-efficacy-500);
		}
		.optionButton__text {
			color: var(--IE-self-efficacy-500);
			border-color: var(--IE-self-efficacy-500);
		}
		&.optionButton--checked {
			.optionButton__square {
				background-color: var(--IE-self-efficacy-500);
				color: var(--neutral-400);
			}
		}
		&:hover {
			box-shadow: 0px 4px 13px rgba(75, 238, 170, 0.2);
		}
	}

	&.Empathy {
		.optionButton__square {
			color: var(--IE-empathy-500);
			border-color: var(--IE-empathy-500);
		}
		.optionButton__text {
			color: var(--IE-empathy-500);
			border-color: var(--IE-empathy-500);
		}
		&.optionButton--checked {
			.optionButton__square {
				background-color: var(--IE-empathy-500);
				color: var(--neutral-400);
			}
		}
		&:hover {
			box-shadow: 0px 4px 13px rgba(250, 138, 239, 0.2);
		}
	}

	&.error {
		pointer-events: none;
		cursor: auto;

		.optionButton__square {
			background-color: var(--alerts-error) !important;
			color: var(--alerts-error) !important;
			border-color: var(--alerts-error) !important;
			&::after {
				content: '✕';
				position: absolute;
				color: var(--neutral-400);
				font-weight: 700;
				font-size: 1.5rem;
			}
		}
		.optionButton__text {
			color: var(--alerts-error);
			border-color: var(--alerts-error);
		}
	}

	&.success {
		pointer-events: none;
		cursor: auto;

		.optionButton__square {
			background-color: var(--alerts-success) !important;
			color: var(--alerts-success) !important;
			border-color: var(--alerts-success) !important;
			&::after {
				content: '✔';
				position: absolute;
				color: var(--neutral-400);
				font-weight: 700;
				font-size: 1.5rem;
			}
		}
		.optionButton__text {
			color: var(--alerts-success);
			border-color: var(--alerts-success);
		}
	}
}
