@use '../abstracts' as *;

.button {
	border-radius: 2rem;
	padding: 12px 19px;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	@include systemButtons;
	transition: all $transitionDuration ease-in-out;

	&:active {
		transform: translateY(2px);
	}

	&--socialMedia {
		width: 100vw;
		max-width: 379px;
		display: flex;
		justify-content: flex-start;
		padding-left: 45px;
		align-items: center;
		border: 3px solid var(--text-600);
		background-color: var(--neutral-400);

		svg {
			max-width: 35px;
			max-height: 35px;
			margin-right: 18px;
		}
		span {
			padding-top: 0.2rem;
		}

		&:hover {
			box-shadow: 0px 5px 8px rgba(24, 23, 31, 0.16);
		}
	}

	&--large {
		width: 100vw;
		max-width: 379px;
		background-color: var(--primary-500);
		color: var(--neutral-400);

		@include mediaQuery('desktop') {
			&:hover {
				box-shadow: 0px 4px 20px rgba(156, 100, 239, 0.66);
			}
		}

		&:active {
			box-shadow: 0px 4px 15px rgba(156, 100, 239, 0.25),
				inset 0px 4px 15px rgba(0, 0, 0, 0.16);
		}

		&:disabled {
			background-color: var(--primary-300);
			pointer-events: none;
			cursor: auto;
		}
	}

	&--large-outlined {
		width: 100vw;
		max-width: 379px;
		background-color: transparent;
		border: 3px solid var(--primary-500);
		color: var(--primary-500);
		box-shadow: 0px 4px 10px rgba(156, 100, 239, 0.151);

		&:hover {
			box-shadow: 0px 4px 15px rgba(156, 100, 239, 0.5);
		}

		&-lighter {
			border-color: var(--primary-400);
			color: var(--primary-400);
		}
	}

	&__text {
		@include systemButtons;
		cursor: pointer;
		position: relative;
		color: var(--primary-600);
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: fit-content;
		padding: 10px 20px;
		transition: all $transitionDuration ease-in-out;

		svg {
			height: 20px;
			margin-right: 10px;
			fill: var(--primary-600);
			color: var(--primary-600);
		}

		&:hover {
			filter: drop-shadow(0px 4px 8px rgba(31, 30, 41, 0.31));
		}

		&:active {
			transform: translateY(2px);
		}

		&--secondary {
			color: var(--secondary-600);
			svg {
				fill: var(--secondary-600);
				color: var(--secondary-600);
			}
		}
	}
}

.link {
	@include systemButtons;
	color: var(--primary-700);
	max-width: 300px;

	span {
		display: inline-block;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: var(--primary-700);
		cursor: pointer;

		&:hover,
		&:active {
			color: var(--secondary-400);
		}
	}

	&--secondary {
		color: var(--secondary-700);

		a {
			color: var(--secondary-700);

			&:hover,
			&:active {
				color: var(--primary-400);
			}
		}
	}
}
