@use '../abstracts' as *;

.textfield {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 379px;
	text-align: left;
	span {
		@include systemInstructions;
		margin-bottom: 5px;
		text-align: left;
	}
	input {
		box-sizing: border-box;
		width: 100%;
		max-width: 379px;
		padding: 14px 17px;
		border-radius: 0.7rem;
		background-color: var(--neutral-500);
		border: 3px solid var(--neutral-600);
		transition: all $transitionDuration ease-in-out;
		outline: none;
	}

	input::placeholder {
		color: var(--neutral-600);
	}

	input:focus {
		border: 3px solid var(--text-500);
	}

	input:disabled {
		background-color: transparentize(
			map-get(map-get($colors, neutral), 500),
			0.4
		);
		border: 3px solid
			transparentize(map-get(map-get($colors, neutral), 600), 0.4);
		color: transparentize(map-get(map-get($colors, text), 500), 0.4);
		cursor: not-allowed;
	}

	&--error {
		input {
			border: 3px solid var(--alerts-error);
		}

		&::after {
			content: attr(data-error);
			margin-top: 2.5px;
			color: var(--alerts-error);
			@include smallText;
		}
	}
}

.select {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 379px;
	span {
		@include systemInstructions;
		margin-bottom: 5px;
		text-align: left;
	}

	select {
		appearance: none;
		box-sizing: border-box;

		background-color: var(--neutral-500);
		background-image: url('@assets/icons/Dropdown.svg');
		background-repeat: no-repeat;
		background-position-x: 95%;
		background-position-y: 45%;

		width: 100%;
		max-width: 379px;
		padding: 14px 17px;
		border-radius: 0.7rem;
		border: 3px solid var(--neutral-600);
		transition: all $transitionDuration ease-in-out;
		outline: none;

		// TODO: Add square on arrow, arrow flip, and style dropdown
	}
}

.radioOptionGroup {
	display: flex;
	flex-direction: column;
	width: fit-content;
	span:not(label span, .customRadio) {
		@include systemInstructions;
		margin-bottom: 5px;
		text-align: left;
	}
	label {
		display: flex;
		align-items: center;
		gap: 6px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		span {
			cursor: pointer;
		}

		input[type='radio'] {
			cursor: pointer;
			position: absolute;
			opacity: 0;
			height: 0;
			width: 0;

			&:checked ~ .customRadio span {
				display: block;
			}
		}

		.customRadio {
			height: 20px;
			width: 20px;
			background-color: var(--neutral-500);
			border: 3px solid var(--text-500);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;

			span {
				display: none;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				background-color: var(--text-400);
			}

			&--primary {
				background-color: var(--primary-100);
				border-color: var(--primary-900);
				&::after {
					background-color: var(--primary-700);
				}
			}

			&--secondary {
				background-color: var(--secondary-100);
				border-color: var(--secondary-900);
				&::after {
					background-color: var(--secondary-700);
				}
			}
		}
	}
}

.progressBar {
	display: flex;
	align-items: center;
	width: 100%;

	&__bar {
		display: block;
		height: 10px;
		border-radius: 2rem;
		flex-grow: 1;
		background-color: var(--primary-600);
	}

	&__progress {
		height: 100%;
		border-radius: 2rem;
		background-color: var(--primary-300);
		transition: width 1s ease-in-out;
	}

	&__text {
		@include systemInstructions;
		color: var(--primary-200);
		margin-left: 22px;
	}
}
