@use '../abstracts' as *;
.localizationBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 15px;

	&--transparent {
		img {
			width: 3.2rem;
			margin-right: 10px;
			filter: drop-shadow(0px 2.02703px 5.40541px rgba(31, 30, 41, 0.2));
		}
	}

	span:last-child {
		color: var(--primary-700);
	}

	@include EmotionDiveText;
	@include mediaQuery('tablet') {
		margin-top: 30px;
	}
}
