@use 'breakpoints' as *;

@mixin mediaQuery($key) {
	$size: map-get($breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

/* Media Query Example
	background-color: red; //Mobile
	@include mediaQuery('tablet') {
		background-color: yellow;
	}
	@include mediaQuery('desktop') {
		background-color: blue;
	}
*/
