@use '../abstracts/' as *;

.appWrapper {
	main:has(.activitiesPage) {
		padding-top: 0;
	}
}

.activitiesPage {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&__tabNav {
		width: 100vw;
		height: 40px;
		margin-left: -1.125rem;
		background-color: var(--neutral-500);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5vw;
		user-select: none;
		position: fixed;
		top: 50px;
		z-index: 1;

		@include mediaQuery('tablet') {
			margin-left: -3.125rem;
		}

		@include mediaQuery('largeDesktop') {
			margin-left: -6.25rem;
		}

		span {
			display: flex;
			height: 100%;
			align-items: center;
			cursor: pointer;
			gap: 8px;
			transition: color $transitionDuration ease-in-out;
			svg {
				transition: fill $transitionDuration ease-in-out;
			}
		}

		.active {
			color: var(--primary-700);
			border-bottom: 2px solid var(--primary-700);
			margin-bottom: -2px;
			svg {
				fill: var(--primary-700);
			}
		}
	}

	&__content {
		margin-top: 70px;
		@include mediaQuery('tablet') {
			margin-top: 80px;
		}
		@include mediaQuery('desktop') {
			margin-top: 70px;
		}
	}
}

.chooseCompetencesSlide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 20px;

	h1 {
		line-height: 100%;
		margin: 0;
	}

	.text--small {
		color: var(--text-600);
	}

	@include mediaQuery('tablet') {
		margin-top: 4vh;
	}

	@include mediaQuery('desktop') {
		margin-top: 0;
	}

	.cognitiveCards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;

		&__card {
			border: none;
			font-weight: 600;
			color: var(--neutral-400);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 12px;
			cursor: pointer;
			opacity: 60%;
			transition: opacity $transitionDuration ease-in-out,
				color $transitionDuration ease-in-out;

			&.SelfKnowledge {
				background-color: var(--IE-self-knowledge-400);
			}

			&.SelfRegulation {
				background-color: var(--IE-self-regulation-400);
			}

			&.SelfEfficacy {
				background-color: var(--IE-self-efficacy-400);
			}

			&.Empathy {
				background-color: var(--IE-empathy-400);
			}

			div {
				width: 140px;
				height: 140px;
				background-color: var(--neutral-400);
				border-radius: 5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 20px 15px;

				img {
					width: 130px;
					height: 130px;
				}
			}

			span {
				margin-top: -5px;
				margin-bottom: 20px;
			}

			@include mediaQuery('desktop') {
				&:hover {
					opacity: 100%;
				}
			}

			&.active {
				opacity: 100%;

				&.SelfKnowledge {
					background-color: var(--IE-self-knowledge-600);
				}

				&.SelfRegulation {
					background-color: var(--IE-self-regulation-600);
				}

				&.SelfEfficacy {
					background-color: var(--IE-self-efficacy-600);
				}

				&.Empathy {
					background-color: var(--IE-empathy-600);
				}
			}
		}
	}

	.error {
		color: var(--alerts-error);
		@include systemInstructions;
	}
}
