@use '../abstracts' as *;

.testIEPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--primary-200);

	h1 {
		color: var(--neutral-400);
		margin: 0;
		line-height: 100%;
		@include centerText;
	}

	p {
		@include justifyText;
	}

	main {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		section {
			&:not(.testIEPage__end) {
				max-width: 379px;
			}
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			button {
				margin-top: 20px;
			}

			.button__text {
				color: var(--primary-400);
				&:hover {
					filter: drop-shadow(0px 4px 8px rgba(156, 100, 239, 0.5));
				}
			}
		}
	}

	footer {
		margin-inline: auto;
		img {
			filter: invert(1);
			margin-bottom: 40px;
			max-width: 190px;
		}
	}

	&__duration {
		@include systemButtons;
		font-size: 1rem;
	}

	&__scroll {
		max-height: calc(100vh - 70px);
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--primary-800);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: var(--primary-700);
		}
	}

	&__end {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.systemText__instruction {
			color: var(--primary-200);
			text-align: center;
		}

		.image {
			max-width: 250px;
			margin: 10px;
		}
	}
}

.testIEQuestions {
	margin: 30px auto;
	width: 100%;
	max-width: 570px;

	@include mediaQuery('desktop') {
		max-width: 60vw;
	}

	&__question {
		@include bigText;
		color: var(--neutral-400);
	}

	&__answers {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-top: 30px;

		@include mediaQuery('tablet') {
			gap: 40px;
			margin-top: 40px;
		}
	}
}

.testIEProgress {
	margin-top: 50px;
	@include mediaQuery('tablet') {
		margin-top: 60px;
	}

	@include mediaQuery('desktop') {
		margin-top: 40px;
	}
}
