@use '../abstracts' as *;
body {
	font-family: 'Euclid Circular A';
	background-color: red;
	@include mediaQuery('tablet') {
		background-color: yellow;
	}
	@include mediaQuery('desktop') {
		background-color: blue;
	}
}
