@use '../abstracts' as *;

body {
	font-family: $mainFont, sans-serif;
	color: var(--text-500);
	letter-spacing: 0.02em;
	@include normalText;
}

.text--small {
	@include smallText;
	color: var(--text-400);
}

.text--big,
h1 {
	margin-bottom: 20px;
	color: var(--text-600);
	@include bigText;
	@include mediaQuery('tablet') {
		margin-bottom: 30px;
	}
}

.heading--big {
	color: var(--text-600);
	@include bigHeading;
}

.systemText__instruction {
	color: var(--text-400);
	@include systemInstructions;
	@include paragraph;
}

.systemText__button {
	color: var(--text-600);
	@include systemButtons;
}

.systemText__paragraph {
	color: var(--text-400);
	@include paragraph;
}

.user__paragraph {
	@include justifyText;
	@include paragraph;
}

.justifyText {
	@include justifyText;
}
