@use '../abstracts' as *;

body {
	font-family: $mainFont, sans-serif;
	color: var(--text-500);
	@include normalText;
}

.text--small {
	@include smallText;
}

.text--big,
h1 {
	color: var(--text-600);
	@include bigText;
}

.heading--big {
	color: var(--text-600);
	@include bigHeading;
}

.systemText__instruction {
	color: var(--text-600);
	@include systemInstructions;
	@include paragraph;
}

.systemText__button {
	color: var(--text-600);
	@include systemButtons;
}

.systemText__paragraph {
	color: var(--text-400);
	@include paragraph;
}

.user__paragraph {
	@include justify;
	@include paragraph;
}
